.App {
  font-family: Arial, sans-serif;
  text-align: center; /* Căn giữa tất cả các văn bản trong toàn bộ ứng dụng */
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Căn giữa các mục menu */
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Chiều cao của container, điều chỉnh theo nhu cầu */
  flex-direction: column; /* Đặt các phần tử theo cột */
}

body {
  font-family: 'Arial', sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}

.navbar {
  background-color: #4CAF50;
  overflow: hidden;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #45a049;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
}

a {
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}
